<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="createPDF()" disabled="{{isLoading}}">
        <ion-icon [ngClass]="isLoading ? 'animate-spin h-5 w-5 mr-3' : ''" slot="start"
                  name="{{isLoading ? 'reload-outline' : 'print-outline'}}"></ion-icon>
        Create Pdf [img]
      </ion-button>
      <ion-button color="secondary" (click)="createHtmlPdf()" disabled="{{isLoading}}">
        <ion-icon [ngClass]="isLoading ? 'animate-spin h-5 w-5 mr-3' : ''" slot="start"
                  name="{{isLoading ? 'reload-outline' : 'print-outline'}}"></ion-icon>
        Create Pdf [html]
      </ion-button>
      <ion-button (click)="createPdfFromContent()" disabled="{{isLoading}}">
        <ion-icon [ngClass]="isLoading ? 'animate-spin h-5 w-5 mr-3' : ''" slot="start"
                  name="{{isLoading ? 'reload-outline' : 'print-outline'}}"></ion-icon>
        Create Pdf [content]
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div id="pdfBlock" #pdfBlock>
    <app-blueprint-landing-page pageTitle="jsPdf"></app-blueprint-landing-page>
  </div>

</ion-content>
